
@* eventually will get to this page with something like this: *@
@* <a class="rounded-pill btn btn-danger btn-pill" data-url="@Url.Action("DeleteProduct", "Admin", new { productId = tempProd.product_ID })" data-productid="@tempProd.product_ID">Delete Product</a> *@

@model ProductItemRecommendation

<div class="container container-fluid d-flex">
    <div class="row">
        <div class="col-7 align-items-stretch"><img src="@Model.RecProduct.img_link" class="img-fluid"/></div>
        <div class="col">
            <div class="row">
                <div class="card text-center">
                    <div class="card-body">@Model.RecProduct.name</div>
                </div>
            </div>
            <div class="row">
                <div class="card text-center">
                    <div class="card-body">Category: @Model.RecProduct.category</div>
                </div>
            </div>
            <div class="row">
                <div class="card text-center">
                    <div class="card-body">Release Year: @Model.RecProduct.year</div>
                </div>
            </div>
            <div class="row">
                <div class="card text-center">
                    <div class="card-body">Number of Parts: @Model.RecProduct.num_parts</div>
                </div>
            </div>
            <div class="row">
                <div class="card text-center">
                    <div class="card-body">@Model.RecProduct.description</div>
                </div>
            </div>
            <div class="row">
                <div class="card fw-bold text-md-end">
                    <div class="card-body">
                        Price: $@Model.RecProduct.price
                        <button class="btn btn-outline-success">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h3>If you like @Model.RecProduct.name, you might like:</h3>
</div>
<div class="row">
    <vc:product-recommendation-card product="@Model.Product_1"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_2"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_3"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_4"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_5"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_6"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_7"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_8"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_9"></vc:product-recommendation-card>
    <vc:product-recommendation-card product="@Model.Product_10"></vc:product-recommendation-card>
</div>