@{
    ViewData["Title"] = "Products Page";
}

@model ProductsListViewModel

<h1>Title</h1>

<div class="row">
    <div class="col-3">
        <form asp-controller="Home" asp-action="Products" method="get">
            <label asp-for="PrimaryColor">Primary Color:</label>
            <select asp-for="PrimaryColor">
                <option value="">Select Color</option>
                @foreach (var primColor in Model.PrimaryColors)
                {
                    <option value="@primColor">@primColor</option>
                }
            </select>
            <label asp-for="SecondaryColor" />Secondary Color:</label>
            <select asp-for="SecondaryColor">
                <option value="">Select Color</option>
                @foreach (var secColor in Model.SecondaryColors)
                {
                    <option value="@secColor">@secColor</option>
                }
            </select>

            <div>
                <label>Page Size:</label>
                <label><input type="radio" name="PageSize" value="5" @(Model.PageSize == 5 ? "checked" : "") /> 5</label>
                <label><input type="radio" name="PageSize" value="10" @(Model.PageSize == 10 ? "checked" : "") /> 10</label>
                <label><input type="radio" name="PageSize" value="20" @(Model.PageSize == 20 ? "checked" : "") /> 20</label>
            </div>

            @foreach (var category in Model.Categories.Select((value, index) => new { value, index }))
            {
                <input type="checkbox" name="CategoryIds" value="@category.value" checked="checked" />
            }
            <input type="submit" value="Filter" />
        </form>
    </div>
    <div class="col container container-fluid">
        <div class="row">
            @foreach (Product p in Model.Products)
                {
                    <partial name="ProductSummary" model="p"/>
                }
        </div>
    
    </div>
</div>


<div class="col d-flex justify-content-end">
        <div page-model="@Model.PaginationInfo" page-action="Products" page-controller="Home"
             page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group w-auto"></div>
     </div>