@page
@using LegoMastersPlus.Models
@model LegoMastersPlus.Pages.CartModel

<h2>Your cart</h2>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>ProjectName</th>
        <th>Quantity</th>
        <th class="text-md-end">Amount</th>
        <th class="text-md-end">Subtotal</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var line in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
    {
        <tr>
            <td>@line.Project.ProjectName</td>
            <td>@line.Quantity</td>
            <td>$25</td>
            <td>@((line.Quantity * 25).ToString("C"))</td>
            <td class="text-center">
                <form asp-page-handler="Remove" method="post">
                    <input type="hidden" name="ProductId" value="@line.Project.ProjectName"/>
                    <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl"/>
                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    
    <tfoot>
    <tr>
        <td colspan="3" class="text-md-end">Total:</td>
        <td class="text-md-end">@Model.Cart?.CalculateTotal().ToString("C")</td>
    </tr>
    </tfoot>
    
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>